.hero-details {
  text-align: center;

  @media screen and (min-width: $md) {
    text-align: left;
  }

  &__description {
    margin-bottom: 12px;
    font-weight: 500;
  }

  &__link {
    font-weight: 600;
    color: currentcolor;
    text-decoration: none;

    @include hover-effect;
  }
}
